@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    font-size:13px;
   }

body {
  font-family: "Roboto","Arial",sans-serif;
}
a{
  text-decoration: none;
    color: #00B0C9;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #243C52;

}

.header a img{
  width: 40%;
  padding-left: 16px;
}


.left-section{
  display:flex;
  align-items: center;
  cursor: pointer;
}
.left-section a img{
width: 50%;
padding-left: 16px;
}
.mid-section{
  display: flex;
  align-items: center;
  margin-left: -9%;
}
.mid-section form{
display: flex;
height: 40px;
width: 682px;
}
.mid-section input{
width: 45%;
border-radius: 20px 0 0 20px;
padding: 12px;
border: 1px solid #EC6C9F;
font-size: 1rem;
color: #EC6C9F;
background-color: #1C2F41;
outline-color: #00B0C9;
flood-color:#EC6C9F;
border-color: #00B0C9;
}
.mid-section button{
width: 60px;
border: 1px solid #00B0C9;
border-radius: 0 20px 20px 0;
color: #EC6C9F;
background-color: #1C2F41;
padding-top: 10px;
}  
.mid-section button:hover{
  background-color: #EC6C9F;
color: #1C2F41;
}


.material-icons:hover{
  color: #1c2f41;
  background-color: #EC6C9F;
}
.content-area{
display: flex;
background-color: #182837;
}
aside{
   height:1000px ;
  width: 200px;
  background-color: #1C2F41;
}
nav{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  padding-right: 15px;
}
.nav-link{
  display: flex;
  align-items: center;
  padding: 10px 16px;
  color: #00B0C9;
  background-color: #1C2F41;
  text-decoration: none;
}
.nav-link:hover{
  background-color: #EC6C9F;
  color: #182837;
  border-radius: 6px;
}
.nav-link span{
margin-left: 24px;
font-size: 0.9rem;
line-height: 2em;
font-weight: 300;
}
.wrapper{
  display:grid;
  margin: 0 auto;
  padding-bottom: 40px;
  text-transform: capitalize;
  overflow-x:  auto;
}

h1{
  color: #00B0C9;
  font-size: 30px;
  text-align: center;
  padding-bottom: 10px;
}
.conatiner{
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
}
.box{
  height: 155px;
  padding: 25px;
  text-align: center;
  border-radius: 10px;
  background: #1C2F41;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);  
}
.box img{
  height: 70px;
}
.box{
  color: #EC6C9F;
  padding: 15px 0;
  font-size: 15px;
}

.box p{
  font-size: 14px;
  line-height: 1.6;
}

